<div class="nested-fields row">

  <div class="col-xs-10 ">
    <%= f.input :name, label: false, style: 'width:80%; display:inline; float:left;' %>
  </div>

  <div class="col-xs-2">
    <%= link_to_remove_association button_tag(
    '<i class="glyphicon glyphicon-remove-sign"></i>'.html_safe,
    type: "button", class: "close form-control btn"), f, style: 'height:40%; width:20%; display:inline;' %>
  </div>

</div>
